{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> {% trans "All Personal Soft || IT kompaniya" %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="{% url 'home' %}">All Personal Soft</a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">{% trans "Bosh sahifa" %}</a></li>
                    <li><a class="nav-link scrollto {% if request.resolver_match.url_name == '#about' %}active{% endif %}" href="{% url 'home' %}#about">{% trans "Haqimizda" %}</a></li>
                    <li><a class="nav-link scrollto {% if request.resolver_match.url_name == 'more_services' %}active{% endif %}" href="{% url 'home' %}#services">{% trans "Xizmatlar" %}</a></li>
                    <li class="dropdown"><a href="#"><span>{% trans "Til" %}</span> <i
                                class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/uz">{% trans "uz" %}</a></li>
                            <li><a href="/en">{% trans "en" %}</a></li>
                            <li><a href="/ru">{% trans "ru" %}</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">{% trans "Bog'lanish" %}</a></li>
                    <li><a class="getstarted scrollto" href="{% url 'home' %}#services">{% trans "Boshlash" %}</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    {% block content %}

    {% endblock content %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>{% trans "Biz bilan bo'glaning" %}</h2>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact-about">
                        <h3>All Personal Soft</h3>
                        <p style="text-align: justify;">
                            {% blocktrans %}
                            "All Personal Soft" korxonasi loyihalarni boshqarish zamonaviy
                            uslublari
                            va zamonaviy rivojlanish
                            texnologiyalaridan
                            foydalangan holda dastlabki tahlil va yaratilishdan yakuniy mahsulotlarni ishlab chiqarish
                            va
                            texnik
                            xizmat
                            ko'rsatishgacha bo'lgan ishlarning to'liq siklini amalga oshira oladi.
                            {% endblocktrans %}</p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="info">
                        <div>
                            <i class="ri-map-pin-line"></i>
                            <p>{% trans "S.Temur 68d/12" %}<br>{% trans "Uzbekistan, Farg'ona shahar" %}</p>
                        </div>

                        <div>
                            <i class="ri-mail-send-line"></i>
                            <p>info@allsoft.com</p>
                        </div>

                        <div>
                            <i class="ri-phone-line"></i>
                            <p>+998 93 482 7 717</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                    <form action="" method="post" class="php-email-form">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="full_name" class="form-control" id="full_name"
                                placeholder="{% trans 'Ism va familiya' %}" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="{% trans 'Email' %}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject"
                                placeholder="{% trans 'Mavzu' %}" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="{% trans 'Xabar' %}" 0
                                required></textarea>
                        </div>

                        <div class="text-center">
                            <button type="submit">{% trans "Xabarni jo'natish" %}</button>
                        </div>
                    </form>
                    
                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">
                        &copy; Copyright <strong>All Personal Soft</strong>. {% trans "Barcha huquqlar himoyalangan" %}
                    </div>
                    <div class="credits">
                        Coding by <a href="https://t.me/asadbek_muxtorov">Asadbek Muxtorov</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                        <a href="#intro" class="scrollto">{% trans "Asosiy sahifa" %}</a>
                        <a href="#about" class="scrollto">{% trans "Biz haqimizda" %}</a>
                        <a href="#services">{% trans "Xizmatlar" %}</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>