{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      {% if msg %}
      <h4 class="success" data-aos="">{% trans "Xabaringiz muaffiqiyatli jo'natildi!" %}</h4>
      {% endif %}

      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">{% trans "All Personal Soft bilan biznesingizni rivojlantiring" %}</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">{% blocktrans %}
          Biz 1C platformasi bilan ishlashda 26 yildan ortiq
          tajribaga ega mutaxassislari jamoasimiz.
          {% endblocktrans %}
        </h2>
        <div data-aos="fade-up" data-aos-delay="800">
          <a href="#services" class="btn-get-started scrollto">{% trans "Boshlash" %}</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
        <img src="{% static 'img/hero-new.jpg' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients clients">
    <div class="container clients-items">
      {% for client in clients %}
      <div title="Click to flip" class="sponsor">
        <div class="sponsorFlip">
          <img alt="" src="{{client.image.url}}">
        </div>

        <div class="sponsorData">
          <div class="sponsorDescription">
            {{client.name | upper}}
          </div>

        </div>
      </div>
      {% endfor %}




    </div>
    <a href="{% url 'more_clients' %}" class="btn-learn-more more-button clients-button">
      {% trans "Ko'proq o'qish" %}
    </a>

  </section><!-- End Clients Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>{% trans "Biz haqimizda" %}</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
          <p style="text-align: justify;">
            {% blocktrans %}
            "All Personal Soft" XK -- bu moliya-iqtisodiyot sohasi uchun buxgalteriya hisobini avtomatlashtirish,
            moliyaviy va
            boshqaruv hisobi kabilarga dasturiy yechimlarni ishlab chiqishda professionallar jamoasiga ega.
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}
            Buxgalteriya hisobi va moliyaviy menejment samaradorligini oshirish uchun dasturiy ta'minotni ishlab
            chiqish
            bo'yicha
            malakali mutaxassislarga ega bo'lish muhimdir
            {% endblocktrans %}</p>
          <p>
            {% blocktrans %}
            Muhim biznes jarayonlarini soddalashtirish va optimallashtirishga yordam beradigan bunday mutaxassislar
            borligi har doim
            yaxshi.
            {% endblocktrans %} </p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <p>
            {% blocktrans %}
            IT loyihalarini amalga oshirishda to'plangan tajriba va All Personal Soft guruhining yuqori malakali
            mutaxassislari
            Sizga korporativ va davlat mijozlarining eng qat'iy talablariga javob beradigan yuqori sifatli AT
            xizmatlarini taqdim
            etish imkonini beradi. <br><br>
            All Personal Soft korxonasi bilan hamkorlik sizga axborot texnologiyalari sohasidagi muammolarni mukammal
            sifatli va eng
            qisqa vaqt ichida hal qilishga yordam beradi.
            {% endblocktrans %}
          </p>
          <a href="#contact" class="btn-learn-more more-button">{% trans "Bog'lanish" %}</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>{% trans "Xizmatlar" %}</h2>
        <p>{% blocktrans %}
          Biz korporativ va davlat mijozlarining eng qat'iy talablariga javob beradigan AT xizmatlarini taqdim
          etamiz
          {% endblocktrans %}</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">1C:Предприятие</a></h4>
            <p class="description" style="text-align: left;">{% blocktrans %}
              "All Personal Soft" XK 1C kompaniyasining Farg`onadagi
              rasmiy vakili bo'lib, '1C:Franchayzing' tarmog'ida ro'yxatdan o'tgan.
              {% endblocktrans %}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">{% trans "Elektron hisob-fakturalar" %}</a></h4>
            <p class="description">{% blocktrans %}
              Iqtisodiyot (raqamli iqtisodiyot) sohasidagi yangiliklarni hisobga olgan holda,
              korxona boshqa dasturiy mahsulotlari uchun
              {% endblocktrans %}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">{% trans "Boshqarish dasturlari" %}</a></h4>
            <p class="description">{% blocktrans %}
              Tashkilotlarni boshqarish uchun dasturlarni ishlab chiqish (mobil, masofaviy va hk)
              va joriy etish mumkin
              {% endblocktrans %}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">{% trans "Tizimlar" %}</a></h4>
            <p class="description">{% blocktrans %}
              ERP tizimlarini joriy qilish, litsenziyalar, avtomatlashtirish uchun dasturiy
              mahsulotlar.
              {% endblocktrans %}
            </p>
          </div>
        </div>

      </div>

      <div class="row" style="margin-top: 22px;">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">{% trans "Kiberxavfsizlik bo'yicha tahlilchi" %}</a></h4>
            <p class="description" style="text-align: left;">{% blocktrans %}
              Tizimlarimizni kiberxavfsizlik tahlilchisi
              sifatida
              himoya qiling
              {% endblocktrans %} </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">{% trans "Bulutli hisoblash" %}</a></h4>
            <p class="description">
              {% blocktrans %}
              Iqtisodiyot (raqamli iqtisodiyot)
              sohasidagi yangiliklarni hisobga olgan holda, korxona boshqa dasturiy mahsulotlari uchun
              {% endblocktrans %}"</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">{% trans "Dasturiy ta'minotni ishlab chiquvchi" %}</a></h4>
            <p class="description">{% blocktrans %}
              Tashkilotlarni boshqarish uchun dasturlarni ishlab chiqish (mobil, masofaviy va hk)
              va joriy etish mumkin
              {% endblocktrans %}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">{% trans "UX Designer" %}</a></h4>
            <p class="description">{% blocktrans %}
              ERP tizimlarini joriy qilish, litsenziyalar, avtomatlashtirish uchun dasturiy
              mahsulotlar.
              {% endblocktrans %}
            </p>
          </div>
        </div>

      </div>

      <div class="row" style="margin-top: 22px;">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">{% trans "Data Scientist" %}</a></h4>
            <p class="description" style="text-align: left;">{% blocktrans %}
              "All Personal Soft" XK 1C kompaniyasining Farg`onadagi
              rasmiy vakili bo'lib, '1C:Franchayzing' tarmog'ida ro'yxatdan o'tgan.
              {% endblocktrans %}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">{% trans "Sun'iy intellekt" %}</a></h4>
            <p class="description">{% blocktrans %}
              Iqtisodiyot (raqamli iqtisodiyot) sohasidagi yangiliklarni hisobga olgan holda,
              korxona boshqa dasturiy mahsulotlari uchun
              {% endblocktrans %}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">{% trans "Veb-ishlab chiqish" %}</a></h4>
            <p class="description">{% blocktrans %}
              Tashkilotlarni boshqarish uchun dasturlarni ishlab chiqish (mobil, masofaviy va hk)
              va joriy etish mumkin
              {% endblocktrans %}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">{% trans "Tarmoq muhandisi" %}</a></h4>
            <p class="description">{% blocktrans %}
              ERP tizimlarini joriy qilish, litsenziyalar, avtomatlashtirish uchun dasturiy
              mahsulotlar.
              {% endblocktrans %}
            </p>
          </div>
        </div>

      </div>

    </div>
    <a href="{% url 'more_services' %}" class="btn-learn-more more-button">{% trans "Ko'proq o'qish" %}</a>

  </section><!-- End Services Section -->

  <!-- ======= More Services Section ======= -->
  <section id="more-services" class="more-services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card card_1" style="background-image: url({% static '/img/more-services-1.jpg' %});"
            data-aos="fade-up" data-aos-delay="100">
            <div class="card-body">
              <h5 class="card-title"><a href="">{% trans "Avtomatlashtirish" %}</a></h5>
              <p class="card-text" style="text-align: justify;">{% blocktrans %}
                Elektron hisob-fakturalar, ishonchnomalar, bajarilgan
                ishlar dalolatnomalari, ish vaqtini hisobga olish turniketlari,
                kompyuter dasturiy ta`minoti bilan bog`lash imkoniyatiga ega.
                {% endblocktrans %}</p>
              <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="card" style="background-image: url({% static '/img/more-services-2.jpg' %});" data-aos="fade-up"
            data-aos-delay="200">
            <div class="card-body">
              <h5 class="card-title"><a href="">{% trans "Osonlashtirish" %}</a></h5>
              <p class="card-text">{% blocktrans %}
                Yoqilg'i quyish shoxobchalari dasturlari,
                elektron tarozilar, bank-mijoz, dispenserlar va boshqa
                elektron o'lchovlarini
                kompyuter dasturiy ta`minoti bilan bog`lash imkoniyatiga ega.
                {% endblocktrans %}</p>
              <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card" style="background-image: url({% static '/img/more-services-3.jpg' %});" data-aos="fade-up"
            data-aos-delay="100">
            <div class="card-body">
              <h5 class="card-title"><a href="">{% trans "Mobil dasturlar" %}</a></h5>
              <p class="card-text">{% blocktrans %}
                Tashkilotlarni boshqarishni qulaylashtirish uchun mobil va desktop dasturlar ishlab
                chiqish va ularni qo'llab-quvvatlash.
                {% endblocktrans %}</p>
              <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card" style="background-image: url({% static '/img/more-services-4.jpg' %});" data-aos="fade-up"
            data-aos-delay="200">
            <div class="card-body">
              <h5 class="card-title"><a href="">{% trans "Web saytlar qurish" %}</a></h5>
              <p class="card-text">{% blocktrans %}
                Tashkilotlarni rasmiy saytlarini qurish, serverda saqlash va ularni
                qo'llab-quvvatlash.
                {% endblocktrans %}</p>
              <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End More Services Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>{% trans "Xususiyatlar" %}</h2>
        <p>{% blocktrans %}
          Kompaniyaning o'ziga xos hususiyatlari
          {% endblocktrans %}</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-time-line" style="color: #ffbb2c;"></i>
            <h3><a href="">{% trans "Tezkor" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3><a href="">{% trans "Sifatli" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3><a href="">{% trans "Aniq" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3><a href="">{% trans "Mukammal" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3><a href="">{% trans "Xavfsiz" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
            <h3><a href="">{% trans "Ishonchli" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
            <h3><a href="">{% trans "Litsenziyali" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
            <h3><a href="">{% trans "Raqobatbardosh" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-anchor-line" style="color: #b2904f;"></i>
            <h3><a href="">{% trans "Zamonaviy" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-disc-line" style="color: #b20969;"></i>
            <h3><a href="">{% trans "Aktual" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-base-station-line" style="color: #ff5828;"></i>
            <h3><a href="">{% trans "Moslashuvchan" %}</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
            <h3><a href="">{% trans "Takrorlanmas" %}</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->
  {%endblock content %}