{% extends "base.html" %}
{% load i18n %}

{% block content %}

</main><!-- End #main -->

<section class="">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="featurette-heading text-center">{% trans "Biz xizmat ko'rsatadigan sohalar" %}</h2>
                <p class="text-center lead">
                    <label>
                        {% trans "Biz xizmat ko'rsatadigan kompaniyalar" %}
                    </label>
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 ">
                <div
                    class="section-display d-flex flex-sm-column flex-md-column flex-lg-row justify-content-center mb-3 strengths">
                    {% for client in clients %}
                    <div class="highlight-box-2 mx-auto mt-3">
                        <div class="d-flex flex-column mb-3">

                            <div class="mt-5 text-center">
                                <img src="{{client.image.url}}" width="126px">
                            </div>
                            <div class="mt-5 text-center">
                                <h5 class="dark-blue">
                                    <label>
                                        {{ client.name | upper}}
                                    </label>
                                </h5>
                                <br>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
</section>
{% endblock %}